
/*CSS Variables*/
:root {
  --primary-color: #9c5526;
  --secondary-color: #54331d;
  --white-color: #ede7e3;
  --hover-color: #ec823c;
  --black-color: #353331;
  --black75: hsla(24, 4%, 20%, 0.75);
}

/*Global Styles*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "sofia sans","sans-serif" ;
  font-size: 1.1rem;
  color: var(--black-color);
  line-height: 1.4;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/coffee.jpeg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1,h3,h4{
  font-family: "Patua One",cursive;
  color:var(--primary-color);
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.7rem;
  background-color: var(--white-color);
  width: 250px;
  padding: .15em,0em,.15em,0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  text-align: center;
  box-shadow:0px, 0px, 30px,0px, hsla(0, 0%, 0%, 0.5);
  text-shadow:0px,0px, 20px,0px, rgba(84, 51, 29, 0.5);
}


h3 {
  font-size: 1.9rem;
}


h4 {
  font-size: 1.6rem;
}

.small {
  font-size: 1rem;
}



/*Header*/
header{
  background-color: var(--secondary-color);
  padding-top: 1rem;
  padding-bottom: 1rem;

}
nav{
  text-align: right;
}
nav li{
  display: inline;
  margin-right: 1rem;
}
nav a{
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.9rem;
} 
nav a:hover, nav a:active{
  color:var(--hover-color)
}


/* main */
main{
  background-color: var(--white-color);
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  padding: 1rem,0;
}
.content-wrapper{
  width: 80%;
  margin:0 auto;
}

#about, #menu{
  margin-bottom: 1rem;
}

/* About section */
#about p{
  max-width: 60ch;
  margin-bottom: .5rem;
}

#about ul li{
  list-style-type: none;
  padding-left: 1.5em ;
  background-image: url(../images/logo.png);
  background-size: 1em, 1em;
  background-repeat: no-repeat;
  background-position: 0 , 0.2em;
}



/*Menu section*/

.item p {
  display: inline-block;
}

.title {
  width: 75%;
  text-align: left;
}

.price {
  width: 25%;
  text-align: right;
}

#menu h4 {
  text-align: center;
}
#menu section{
  margin-bottom: 1rem;
}

/*Reservation section*/
form{
  font-family: inherit;
  color: var(--black-color);
}
label{
  display: block;
  color: var(--black75);
}
select, textarea ,input{
  background-color: #d6ab8f;
  border: 0;
  width: 100%;
  margin-bottom: .5em;
}
#reservation input[type = "submit"]{
  font-size: 1.25 rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding-top: .5em;
  padding-bottom: .5em;
  border-radius: 8px;
  cursor: pointer;
}
#reservation input[type = "submit"]:hover{
  background-color: var(--hover-color);
}

/*footer*/
footer{
  background-color: var(--secondary-color);
  color: var(--white-color);
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}